.spacing {
  padding: 5em 0 0 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 1270px) {
  .skylineSettings {
    height: 100%;
    max-height: 700px;
    width: 100%;
    margin-top: -40vh;
  }
}

@media (min-width: 450px) and (max-width: 1269px) {
  .skylineSettings {
    height: 100%;
    max-height: 700px;
    width: 100%;
    margin-top: -30vh;
  }
}

@media (max-width: 450px) {
  .skylineSettings {
    height: 100%;
    max-height: 700px;
    width: 100%;
    margin-top: -20vh;
  }
}

@media (min-width: 768px) and (max-width: 1441px) {
  .moveUp {
    margin-top: -100px;
  }
}

@media (min-width: 1442px) {
  .moveUp {
    margin-top: -200px;
  }
}
