.spacing {
  padding: 5em 0 0 0;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 1270px) {
  .skylineSettings {
    height: 100%;
    width: 100%;
    margin-top: -40vh;
  }
}

@media (min-width: 450px) and (max-width: 1269px) {
  .skylineSettings {
    height: 100%;
    width: 100%;
    margin-top: -10em;
  }
}

@media (max-width: 450px) {
  .skylineSettings {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1441px) {
  .moveUp {
    margin-top: -100px;
  }
}

@media (min-width: 1442px) {
  .moveUp {
    margin-top: -200px;
  }
}

@media (min-width: 1270px) {
  .skylineFooterContainer {
    position: relative;
    width: 100%;
    height: 33vw;
  }
}

@media (min-width: 450px) and (max-width: 1269px) {
  .skylineFooterContainer {
    position: relative;
    width: 100%;
    height: 33vw;
  }
}

@media (max-width: 450px) {
  .skylineFooterContainer {
    position: relative;
    width: 100%;
    height: 33vw;
  }
}

.skylineFooterImg {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
}
