.position {
    margin-top: 100px;
    margin-left: 400px;
}

.hero {
  font-family: 'Josefin Sans', sans-serif;
}

.bodyText {
  position: relative;
  line-height:1.8;
  font-family: 'Poppins';
}

.f {
    position: relative;
    width: calc(18px + 1vw);
}

.left {
    position: relative;
    left: 70px;
    top: 40px;
    width: calc(18px + 1vw);
    transform: scaleY(-1) rotate(315deg);
}

.right{
  position: relative;
  top: calc(14em + 0.1vw);
  width: calc(18px + 1vw);
  transform: rotate(45deg);
}

/* Mobile */
@media (min-width: 0px) and (max-width: 767px){
  .position {
    margin: 0;
  }
  
  .hero {
    padding-left: 20px;
    font-size: 20px;
  }

  .bodyText {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
  }

  .f {
    top: 15px;
    left: 10px;
  }
  .left{
    top: 30px;
    left: 5px;
  }

  .right {
    left: 15px;
    top: 30px;
  }
}

/* Small tablet */
@media (min-width: 768px) and (max-width: 960px){
  .position {
    margin: 40px 0 0 0;
  }
  
  .hero {
    font-size: 24px;
    padding-left: 120px;
    padding-right: 130px;
  }

  .bodyText {
    font-size: 16px;
    padding-left: 120px;
    padding-right: 100px;
  }

  .f {
    top: 5px;
    left: 10px;
  }
  .right {
        position: absolute;
        right: 100px;
        top: 150px;
  }
}

/* Tablet to Laptop (NOT DESKTOP) */
@media (min-width: 961px) and (max-width: 1441px){
  .position {
    margin: 100px 0 0 40px;
  }
  
  .hero {
    font-size: 24px;
    padding-left: 150px;
    padding-right: 130px;
  }

  .bodyText {
    font-size: 16px;
    max-width: 60vw;
    padding-left: 150px;
    padding-right: 200px;
    line-height: 27px;
  }

  .f {
    top: 5px;
  }

  .right{
    position: absolute;
    right: 150px;
    top: 100px;
  }
}


/* Desktop up */
@media (min-width: 1442px) {
  .position {
    margin: 100px 0 0 100px;
  }
  
  .hero {
    font-size: 36px;
    padding-left: 120px;
    padding-right: 100px;
  }

  .bodyText {
    font-size: 18px;
    line-height: 31px;
    max-width: none;
    padding-left: 120px;
    padding-right: 390px;
  }

  .f {
    top: 5px;
  }

  .right{
    position: absolute;
    right: 300px;
    top: 100px;
  }
}