.position {
  margin-top: 100px;
  margin-left: 400px;
}

.hero {
  font-size: calc(1em + 2vw);
  font-family: 'Josefin Sans', sans-serif;
  /* max-width: 50vw; */
}

.bodyText {
  /* max-width: 35rem; */
  position: relative;
  line-height:1.8;
  font-size: calc(0.8em + 0.3vw);
  font-family: 'Poppins';
  max-width: 40vw;
}

.f {
  position: relative;
  width: calc(18px + 1vw);
}

.left{
  position: relative;
  left: 70px;
  top: 40px;
  width: calc(18px + 1vw);
  transform: scaleY(-1) rotate(315deg);
}

.right{
  position: relative;
  /* left: calc(2em + 10vw); */
  top: calc(14em + 0.1vw);
  width: calc(18px + 1vw);
  transform: rotate(45deg);
}

/* @media screen and (max-width: 35em) {
  .bodyText {
    max-width: 100vw;
    width: 20em;
  }
} */

/* Mobile */
@media (min-width: 0px) and (max-width: 767px){
  .position {
    margin: 0;
  }
  
  .hero {
    padding-left: 20px;
  }

  .bodyText {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: calc(0.8em + 1vw);
  }

  .f {
    top: 15px;
    left: 10px;
  }
  .left{
    top: 30px;
    left: 5px;
  }

  .right{
    left: 15px;
    top: 30px;
  }
}

/* Small tablet */
@media (min-width: 768px) and (max-width: 960px){
  .position {
    margin: 40px 0 0 0;
  }
  
  .hero {
    padding-left: 100px;
    padding-right: 130px;
  }

  .bodyText {
    max-width: none;
    padding-left: 100px;
    padding-right: 100px;
    font-size: calc(0.8em + 1vw);
  }

  .f {
    top: 5px;
    left: 10px;
  }

  .right{
    position: absolute;
    right: 100px;
    top: 150px;
  }

}

/* Tablet to Laptop (NOT DESKTOP) */
@media (min-width: 961px) and (max-width: 1441px){
  .position {
    margin: 100px 0 0 40px;
  }
  
  .hero {
    padding-left: 100px;
    padding-right: 130px;
    font-size: calc(0.8em + 1.5vw);
  }

  .bodyText {
    max-width: none;
    padding-left: 100px;
    padding-right: 200px;
    font-size: calc(0.8em + 0.9vw);
  }

  .f {
    top: 5px;
  }

  .right{
    position: absolute;
    right: 180px;
    top: 150px;
  }

}


/* Desktop up */
@media (min-width: 1442px) {
  .position {
    margin: 100px 0 0 100px;
  }
  
  .hero {
    padding-left: 100px;
    padding-right: 130px;
    font-size: calc(0.8em + 1.5vw);
  }

  .bodyText {
    max-width: none;
    padding-left: 100px;
    padding-right: 500px;
    font-size: calc(0.8em + 0.9vw);
  }

  .f {
    top: 5px;
  }

  .right{
    position: absolute;
    right: 250px;
    top: 150px;
  }
}